<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1, maximum-scale=1">

    <title>Thomas Jefferson University Donor Wall</title>

    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link href="./dist/css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="js/lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="js/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="js/lib/lightgallery/src/css/lightGallery.css">
    <link rel="stylesheet" type="text/css" href="js/lib/lightslider/dist/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap_select/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="js/lib/keyboard/css/keyboard.min.css">
    <link href="./dist/css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main>
        <!-- donor panel template -->
        <script id="panel-template" type="text/x-jsrender">
            <article id="gallery-wrapper" class="hidden" data-donor={{:ID}}>
                <section id="gallery-lg">
                </section>

                
                <section id="gallery-grid">
                    <div class="gallery-item active" data-src="{{:primary_img}}"><img src="{{:primary_img}}"></div>

                    {{if galleryArray}}
                        {{for galleryArray}}

                            <div class="gallery-item" data-src="{{>}}"><img src="{{>}}"></div>

                        {{/for}}
                    {{/if}}
                </section>

                  <div style="display:none;" id="video2">
                    <video class="lg-video-object lg-html5" muted preload="none">
                        <source src="assets/sample-images/leds.mp4" type="video/mp4">
                    </video>
                </div>
                <div id="video-controls" class="hidden">
                    <button id="video-play" class="hidden"><img src="assets/icons/icon-video-play.svg"></button>
                    <button id="video-pause"><img src="assets/icons/icon-video-pause.svg"></button>
                    <button id="video-replay"><img src="assets/icons/icon-video-replay.svg"></button>
                </div>
            </article>


            <article>
                <h1>{{:prefix}} {{:first_name}} {{:middle}} {{:last_name}} {{:suffix}} {{:honorific}}</h1>
                <section>
                    {{if giving_amount}}
                    <div>
                        <h5>Giving Level</h5>
                        <h2>${{:giving_amount}}</h2>
                    </div>
                    {{/if}}

                    {{if education_0_degree}}
                    <div>
                        <h5>Degree</h5>
                        <h2>{{:education_0_degree}}</h2>
                    </div>
                    {{/if}}

                    {{if education_0_graduation_year}}
                    <div>
                        <h5>College, Graduation Year</h5>
                        <h2>{{if education_0_college}} {{:education_0_college}}, {{/if}} {{:education_0_graduation_year}}</h2>
                    </div>
                    {{/if}}
                </section>

               {{if rels && rels.length}}
                <section>
                    <h5>Relationships</h5>
                    
                    <div id="relationships">


                        <!-- <div class="circle rel rel-lg" style="background-color: rgba(0,0,0, 0.5); background-image: url('assets/sample-images/sample-thumbnail@2x.jpg');">
                            <p>Sheeja Abraham, MD</p>
                            <p>1996</p>
                        </div> -->

                    </div>
                </section>
                {{/if}}

                {{if bio}}
                <section>
                   
                    <h5>Biography</h5>
                    <p>{{:bio}}</p>
                </section>
                {{/if}}

                {{if tribute_heading}}
                <section class="no-border">
                    <h5>{{:tribute_heading}}</h5>
                    <h2>{{:tribute_message}}</h2>
                </section>
                {{/if}}
            </article>
        </script>

        <script id="give-template" type="text/x-jsrender">
              <h1>{{:panel_heading}}</h1>
                <section class="no-border">
                    <div>
                        <p>{{:panel_text}}</p>
                    </div>

                    <div>
                        <h5>Call</h5>
                        <h2>{{:panel_phone}}</h2>
                    </div>

                    <div>
                        <h5>Email</h5>
                        <h2>{{:panel_email}}</h2>
                    </div>
                </section>


        </script>




        <div id="instructions"></div>
        
        <div id="river">
        <!-- <div class="circle donor large" style="background-color: rgba(0,0,0, 0.5); background-image: url('assets/sample-images/sample-thumbnail@2x.jpg');">
            <p>Sheeja Abraham, MD</p>
            <p>1996</p>
        </div>
        <div id="testing" class="circle donor sm">
            <p>Samuel D. Gross, MD</p>
            <p>1828</p>
        </div>
        <div class="circle give">
            <p>Would you like to see your name here?</p>
            <h4>Give Now</h4>
        </div> -->
        </div>

        <div id="panel" class="hidden"></div>

        <div id="right-panel" class="hidden">
            <article id="search" class="hidden">
                 <h1>Search all donors</h1>
                 <form class="flex-container">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <label for="donor-name">Name</label>
                            <input type="text" class="form-control" id="donor-name" placeholder="All donors">
                        </div>

                         <div class="form-group donor-year-wrapper">
                            <label for="donor-year">Years</label>
                            <input type="text" class="form-control" id="donor-year" placeholder="1910">
                            <input type="text" class="form-control" id="donor-year-max" placeholder="2010">
                        </div>

                        <div class="form-group">
                            <label for="donor-colleges">Colleges</label>
                            <select class="selectpicker" id="donor-colleges">
                                <option>All Colleges</option>
                                <option>Sidney Kimmel Medical College</option>
                                <option>Kanbar College of Design Engineering and Commerce</option>
                                <option>College of Architecture and the Built Environment</option>
                                <option>College of Biomedical Sciences</option>
                                <option>College of Health Professions</option>
                                <option>College of Nursing</option>
                                <option>College of Pharmacy</option>
                                <option>College of Population Health</option>
                                <option>College of Science, Health and the Liberal Arts</option>
                            </select>
                        </div>

                        <div id="search-er" class="hidden">
                            <p><span>No results found.</span> Try broadening your search.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" id="reset" type="reset" value="Reset">
                        <input class="btn btn-primary" id="submit" type="submit" value="Submit">
                    </div>


                </form>
            </article>

            <article id="give-panel" class="hidden"></article>
         

        </div>

        <div id="close" class="hidden"></div>
       
    </main>

   


    <footer>
        <div class="logo-wrapper">
            <img src="assets/logo@2x.jpg" id="TJU-logo">
        </div>
        <div class="all-donors-wrapper hidden">
            <button id="all-donors-btn" class="btn btn-link">
                <img src="assets/icons/icon-back.svg" alt="right arrow">
                <h4>Back to All Donors</h4>
            </button>
        </div>
        <div class="search-btn-wrapper">
            
            <button class="btn btn-link" id="search-btn">
                <img src="assets/icons/icon-search.svg" alt="search">
                <h4>Search Donors</h4>
            </button>
            
            <button class="btn btn-link" id="search-close">
                <svg version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="31.7px" height="31.7px" viewBox="0 0 31.7 31.7" style="enable-background:new 0 0 31.7 31.7;"
                     xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#569BCA;}
                    .st1{fill:#FFFFFF;}
                </style>
                <defs>
                </defs>
                <g>
                    <g>
                        <g>
                            <path class="st0" d="M15.9,0L15.9,0C7.1,0,0,7.1,0,15.9v0c0,8.8,7.1,15.9,15.9,15.9h0c8.8,0,15.9-7.1,15.9-15.9v0
                                C31.7,7.1,24.6,0,15.9,0z"/>
                        </g>
                        <polygon class="st1" points="21.8,19.9 17.9,16 17.4,15.6 17.9,15.1 21.8,11.2 20.2,9.6 16.3,13.5 15.9,14 15.4,13.5 11.5,9.6 
                            10,11.2 13.9,15.1 14.3,15.6 13.9,16 10,19.9 11.5,21.5 15.4,17.6 15.9,17.1 16.3,17.6 20.2,21.5       "/>
                    </g>
                </g>
                </svg>
                <h4>Close</h4>
            </button>
        </div>
    </footer>


    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/lib/slick/slick.min.js"></script>
    <script src="js/lib/keyboard/js/jquery.keyboard.min.js"></script>
    <script src="js/lib/lightGallery/src/js/lightgallery.js"></script>
    <script src="js/lib/lightslider/dist/js/lightslider.min.js"></script>
    <script src="js/lib/lg-video/lg-video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="js/lib/jsrender/jsrender.js"></script>
    <script src="js/lib/jquery.hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/utils/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/plugins/CSSPlugin.min.js"></script>
    <script src="js/lib/lottie.js"></script>
    <script src="js/lib/bootstrap_select/js/bootstrap-select.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/lib/defiantjs/defiant.min.js"></script>
    <script src="js/controllers/utilities.js"></script>
    <script src="js/controllers/panel.js"></script>
    <script src="js/controllers/river.js"></script>
    <script src="js/controllers/animation.js"></script>
    <script src="js/controllers/search.js"></script>
    <script src="js/controllers/data.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>

     <script>
        var jsonData = 'http://dev.interactivemechanics.com/tju-donor-wall-cms/index.php/wp-json/rest-routes/v2/donors';
        var givingData = 'http://dev.interactivemechanics.com/tju-donor-wall-cms/index.php/wp-json/rest-routes/v2/giving';
    </script>
   

</body>
</html>