.logo-wrapper {
	float: left;
	height: 100px;
	padding: 16px;
	
	img {
		height: 100%;
	}
}

.search-btn-wrapper,
.all-donors-wrapper {
	height: 100px;
}

.search-btn-wrapper {
	float: right;
	display: flex;
	align-items: center;

	margin: 0px 55px 0px 0px;

}

.all-donors-wrapper {
    float: left;
}



#search-btn, #search-close, #all-donors-btn {
	display: flex;
	align-items: center;


	h4 {
		margin-bottom: 0px;
		color: $light_blue;
		line-height: 1;
	}

	img {
		margin-right: 10px;
	}

	svg {
		margin-right: 10px;
	}

	&:hover {
		text-decoration: none;
	}
}

#search-close {
	display: none;

}

