* {
	font-family: 'MuseoSans-300', Helvetica, Arial, sans-serif;
}

h1, h2, h5 {
	font-family: $MuseoSans-100;
}

h1 {
	color: $light_blue;
	font-size: 40px;
}

h2 {
	color: $black;
	font-size: 24px;

}

h4 {
	color: $light_blue;

	font-family: $MuseoSans-700;
	letter-spacing: 0.5px;
	text-transform: uppercase;

}

h5 {
	color: $light_grey;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}